.container {
  position: absolute;
  background-color: white;
  height: 300px;
  min-width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 40px 10px 10px 10px;
  outline: none;

  & .icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
}